{% extends "base.html" %}
{% block navbar-list-cards-active %}active{% endblock %}
{% block extra-css %}
    <style>
    .card   {
        border: 1px solid blue;
    }
    </style>

{% endblock %}
{% block body %}
    <div class="container">
        {% if cards %}
            {% for card in cards %}
            <div class="card col-lg-3">
                <h4>Amount: {{ card.amount }}</h4>
                <h4>Category: {{ card.category }}</h4>
                <h4>To: {{ card.receiver.first_name }} {{ card.receiver.last_name }}</h4>
                <h4>Activated: {% if card.activated_on %}True{% else %}False{% endif %}</h4>
            </div>
            {% endfor %}
        {% else %}
            <h4>You have not created any cards</h4>
        {% endif %}
    </div>

{% endblock %}