{% extends "base.html" %}
{% block navbar %}
{% endblock %}
{% block body %}
    <div class="container">
        <h5>You have activated your card.</h5>
        <p>You have 72 hours to make a purchase in {{ card.category }}. Send the receipt to help@getsplurge.com to
            initiate a fund transfer</p>
    </div>
{% endblock %}