{% extends "base.html" %}
{% block navbar-create-card-active %}active{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 ">
            <form action="{% url 'core.views.create_card' %}" method="post">

                {% if errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-group" id="user_select">
                    <select name="email" id="2" class="js-example-tokenizer-1 form-control"
                            data-placeholder="Select or enter an email id" required>
                        <option></option>
                        {% for user in related_users %}
                            <option value="{{ user.pk }}">{{ user.email }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input placeholder='Whom are you giving the card to' type='text' name="fname" required
                           class="form-control" id="user_entered_name">
                </div>
                <div class="form-group">
                    <input placeholder='Mobile (xxx)xxx-xxxx' type='tel' name="phone" required
                           pattern='[\(]\d{3}[\)]\d{3}[\-]\d{4}' title='Phone Number (Format: (999)999-9999)'
                           class="form-control" id="mobile_number">
                </div>
                <div class="form-group">
                    <input type="number" name="amount" placeholder="Amount" required class="form-control"/>
                </div>
                <div class="form-group">
                    <select name="category" id="1" class="js-example-tokenizer-2 form-control">
                        {% for cat in categories %}
                            <option value="{{ cat.pk }}">{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary">Create</button>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}
{% block extra-js %}
    <script>
        $(document).ready(function () {
            $(".js-example-tokenizer-1").select2({
                tags: "true",
                tokenSeparators: [',', ' '],
                placeholder: "Select or enter an email id",
                allowClear: true
            });
            $(".js-example-tokenizer-2").select2({
                tags: "true",
                tokenSeparators: [',', ' ']
            });

            $(".js-example-tokenizer-1").on("select2:select", function (e) {
                console.log(e);
                var selected_id = $(".js-example-tokenizer-1").val();
                var is_int = parseInt(selected_id) || -1;
                var url = "/get_info/" + selected_id + "/";
                if (is_int == -1) {
                    //new email id. ignore
                    if (validateEmail(selected_id) == false) {
                        console.log("has-error");
                        $("#user_select").addClass("has-error");
                    }
                    $("#mobile_number").val("").prop("disabled", false);
                    $("#user_entered_name").val("").prop("disabled", false);

                }
                else {
                    $.get(url, function (data) {
                        console.log(data['email']);
                        $("#mobile_number").val(data['mobile_number']).prop("disabled", true);
                        $("#user_entered_name").val(data['name']).prop("disabled", true);
                    });
                    //ajax and get all details
                }

            });
        });
        function validateEmail(email) {
            var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return re.test(email);
        }
    </script>
{% endblock %}