{% extends "base.html" %}
{% block navbar-home-active %}active{% endblock %}
{% block body %}
    <div class="container">
        {% if email_verified %}
            <div class="alert alert-success" role="alert">
                <strong>Awesome!</strong> You have successfully verified your email address.
            </div>
        {% endif %}
        {% if card_created %}
            <div class="alert alert-success" role="alert">
                <strong>Awesome!</strong> You have successfully created a new card.
            </div>
        {% endif %}
        <h4>Welcome {{ user.username }}!</h4>

        <p>
            Your current balance is ${{ user.balance }}.
        </p>

    </div>

{% endblock %}