{% extends "base.html" %}

{% block title %}
    {% if login %}
        Login
    {% endif %}
    Sign Up
{% endblock %}
{% block navbar %}{% endblock %}
{% block extra-css %}
    <link rel='stylesheet prefetch' href='http://daneden.github.io/animate.css/animate.min.css'>
    <link rel='stylesheet prefetch'
          href='http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <style>
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block
    }

    body {
        line-height: 1
    }

    ol, ul {
        list-style: none
    }

    blockquote, q {
        quotes: none
    }

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none
    }

    table {
        border-collapse: collapse;
        border-spacing: 0
    }

    body {
        background: #e9e9e9;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .form {
        position: relative;
        background: #ffffff;
        width: 285px;
        margin: 40px auto 0;
        padding: 40px;
        border-top: 5px solid #33b5e5;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    }

    .form .switch {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        background: #33b5e5;
        width: 30px;
        height: 30px;
        margin: -5px 0 0;
        -webkit-border-radius: 0 3px 0 3px;
        -moz-border-radius: 0 3px 0 3px;
        border-radius: 0 3px 0 3px;
        color: #ffffff;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
    }

    .form .switch .tooltip {
        position: absolute;
        top: 5px;
        right: -65px;
        display: block;
        background: rgba(0, 0, 0, 0.6);
        width: auto;
        padding: 5px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: rgba(255, 255, 255, 0.6);
        font-size: 10px;
        font-weight: 600;
        line-height: 1;
        text-align: left;
        text-transform: uppercase;
    }

    .form .switch .tooltip:before {
        content: '';
        position: absolute;
        top: 5px;
        left: -5px;
        display: block;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid rgba(0, 0, 0, 0.6);
    }

    .form .register {
        display: none;
    }

    .form h2 {
        margin: 0 0 20px;
        line-height: 1;
        color: #33b5e5;
        font-size: 18px;
        font-weight: 400;
    }

    .form .alert {
        position: relative;
        background: #f3f3f3;
        color: #666666;
        font-size: 12px;
        margin-bottom: 20px;
        padding: 15px;
        text-align: left;
    }

    .form .alert .fa-times-circle {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 16px;
        height: 16px;
        line-height: 16px;
        margin-top: -8px;
        float: right;
    }

    .form input {
        outline: none;
        display: block;
        width: 100%;
        margin: 0 0 20px;
        padding: 10px 15px;
        border: 1px solid #d9d9d9;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #ccc;
        font-family: "Roboto";
        -webkti-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 14px;
        font-wieght: 400;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: all 0.3s linear 0s;
        -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s;
    }

    .form input:focus {
        color: #333333;
        border: 1px solid #33b5e5;
    }

    .form button {
        cursor: pointer;
        background: #33b5e5;
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 25px;
        border: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #ffffff;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: all 0.3s linear 0s;
        -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s;
    }

    .form button:hover {
        background: #1a9bcb;
    }

    .form footer {
        background: #f2f2f2;
        width: 100%;
        padding: 15px 40px;
        margin: 0 0 -40px -40px;
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
        color: #666666;
        font-size: 12px;
        text-align: center;
    }

    .form footer a {
        color: #333333;
        text-decoration: none;
    }

    .info {
        width: 300px;
        margin: 25px auto;
        text-align: center;
    }

    .info h1 {
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-weight: 400;
        color: #333333;
    }

    .info span {
        color: #666666;
        font-size: 12px;
    }

    .info span a {
        color: #000000;
        text-decoration: none;
    }

    .info span .fa {
        color: #33b5e5;
    }

    .info span .spoilers {
        color: #999999;
        margin-top: 5px;
        font-size: 10px;
    }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class='form aniamted bounceIn'>
            <div class='switch'>
                <i class='fa fa-pencil fa-times'></i>

                <div class='tooltip'>Click Me</div>
            </div>
            <div class='login'>
                <h2>Login To Your Account</h2>

                <form action="{% url 'core.views.custom_login' %}" method="post">
                    {% csrf_token %}
                    {% if errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                    <input placeholder='Username' type='text' name="username">
                    <input placeholder='Password' type='password' name="password">
                    <button>Login</button>
                </form>
            </div>
            <div class='register'>
                <h2>Create An Account</h2>

                <div class='alert' style="display: none">
                    <div class='fa fa-times-circle'></div>
                    There seems to be an issue.
                </div>
                <form action="{% url 'core.views.sign_up' %}" method="post">
                    {% if sign_up_error %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    <input placeholder='Username' type='text' name="username" required>
                    <input placeholder='Password' type='password' name="password" required>
                    <input placeholder='Confirm Password' type='password' name="confirm_password" required>
                    <input placeholder='Email Address' type='email' name="email" required>
                    <input placeholder='Mobile (xxx)xxx-xxxx' type='tel' name="phone" required pattern='[\(]\d{3}[\)]\d{3}[\-]\d{4}' title='Phone Number (Format: (999)999-9999)'>
                    <button>Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-js %}
    <script>
        $('.switch').click(function () {
            $(this).children('i').toggleClass('fa-pencil');
            $('.login').animate({height: "toggle", opacity: "toggle"}, "slow");
            $('.register').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    $(document).ready(function(){
        {% if not login %}
            $('.switch').click();
        {% endif %}
    });
    </script>
{% endblock %}