{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h5>Check your inbox and confirm your email address by clicking on the validate link to continue.</h5>
    </div>
{% endblock %}